<div class="top-nav-container">
  <img class="logo-img" src="assets/img/logos/logo_image.webp" alt="CheapShark Logo">
  <div class="brand-container">
    <span class="brand-text">CheapShark</span>
  </div>

  <div class="menu-items-container">
    <a class="col menu-item" routerLink="/deals" routerLinkActive="active">Deals</a>
    <a class="col menu-item" routerLink="/games" routerLinkActive="active">Games</a>
    <a class="col menu-item" routerLink="/stores" routerLinkActive="active">Stores</a>
  </div>
</div>
