body {
  font-family: Verdana, serif;
  margin: 140px 0 0;
}


/*
 * Custom Responsive Grid
 */

.flex-grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.col {
  flex: 1;
}

.col-2 {
  flex: 1 0 49%;
}

.col-3 {
  flex: 1 0 32%;
}

.col-4 {
  flex: 1 0 24%;
}

@media (max-width: 576px) {
  body {
    margin: 120px 0 100px 0;
  }
  .flex-grid {
    display: block;
  }
}



